<%- include('navbar') -%>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>NK Celik</title>
  <link rel="stylesheet" href="css/navbar.css">
  <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/home.css">
    <link rel="icon" type="image/x-icon" href="images/logo.png">
</head>
<body>
    <div class="news-container">
        <% newsArticles.slice(0, 3).forEach((article, index) => { %>
            <div class="news-card <%= index === 0 ? 'large' : 'small' %>">
                <img src="<%= article.imageUrl %>" alt="<%= article.title %>" class="news-image">
                <div class="news-overlay">
                    <p class="subtitle"><%= article.subtitle %></p>
                    <h2 class="title"><%= article.title %></h2>
                    <a href="/novosti/<%= article.title.toLowerCase().replace(/ /g, '-') %>/<%= article._id %>" class="btn btn-maroon">Opširnije</a>
                </div>
            </div>
        <% }) %>
    </div>
    
    <div class="new-section">
        <% newsArticlesSmall.slice(0, 4).forEach((article, index) => { %>
            <div class="news-card small>">
                <img src="<%= article.imageUrl %>" alt="<%= article.title %>" class="news-image">
                <div class="news-overlay">
                    <p class="subtitle"><%= article.subtitle %></p>
                    <h2 class="title"><%= article.title %></h2>
                    <a href="/novosti/<%= article.title.toLowerCase().replace(/ /g, '-') %>/<%= article._id %>" class="btn btn-maroon">Opširnije</a>
                </div>
            </div>
        <% }) %>
    </div>
    
    <div class="gender-selection">
        <button class="gender-button active" value="male" onclick="toggleTeams('male')">Muški</button>
        <button class="gender-button" value="female" onclick="toggleTeams('female')">Ženski</button>
    </div>

    <div class="team-section male">
        <div class="grid-container">
            <div class="grid-item">
                <h3>Pioniri</h3>
                <table>
                    <thead>
                        <tr>
                            <th>Ekipa</th>
                            <th>Odigrane utakmice</th>
                            <th>Pobjede</th>
                            <th>Porazi</th>
                            <th>Poeni</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% pioniriMatches.sort((a, b) => b.points - a.points) // Sortiraj po poenima (od najveće ka najmanjoj vrijednosti)
                        .forEach(team => { %>
                            <tr>
                                <td><%= team.name %></td>
                                <td><%= team.matchesPlayed %></td>
                                <td><%= team.wins %></td>
                                <td><%= team.losses %></td>
                                <td><%= team.points %></td>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>

            <div class="grid-item">
                <h3>Kadeti</h3>
                <table>
                    <thead>
                        <tr>
                            <th>Ekipa</th>
                            <th>Odigrane utakmice</th>
                            <th>Pobjede</th>
                            <th>Porazi</th>
                            <th>Poeni</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% kadetiMatches.sort((a, b) => b.points - a.points) // Sortiraj po poenima (od najveće ka najmanjoj vrijednosti)
                        .forEach(team => { %>
                            <tr>
                                <td><%= team.name %></td>
                                <td><%= team.matchesPlayed %></td>
                                <td><%= team.wins %></td>
                                <td><%= team.losses %></td>
                                <td><%= team.points %></td>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>

            <div class="grid-item">
                <h3>Predpioniri</h3>
                <table>
                    <thead>
                        <tr>
                            <th>Ekipa</th>
                            <th>Odigrane utakmice</th>
                            <th>Pobjede</th>
                            <th>Porazi</th>
                            <th>Poeni</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% predpioniriMatches.sort((a, b) => b.points - a.points) // Sortiraj po poenima (od najveće ka najmanjoj vrijednosti)
                        .forEach(team => { %>
                            <tr>
                                <td><%= team.name %></td>
                                <td><%= team.matchesPlayed %></td>
                                <td><%= team.wins %></td>
                                <td><%= team.losses %></td>
                                <td><%= team.points %></td>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>

            <div class="grid-item">
                <h3>Juniori</h3>
                <table>
                    <thead>
                        <tr>
                            <th>Ekipa</th>
                            <th>Odigrane utakmice</th>
                            <th>Pobjede</th>
                            <th>Porazi</th>
                            <th>Poeni</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% junioriMatches.sort((a, b) => b.points - a.points) // Sortiraj po poenima (od najveće ka najmanjoj vrijednosti)
                        .forEach(team => { %>
                            <tr>
                                <td><%= team.name %></td>
                                <td><%= team.matchesPlayed %></td>
                                <td><%= team.wins %></td>
                                <td><%= team.losses %></td>
                                <td><%= team.points %></td>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>

        </div>
    </div>

    <div class="team-section female" style="display: none;">
        <div class="grid-container">

            <div class="grid-item">
                <h3>Predpionirke</h3>
                <table>
                    <thead>
                        <tr>
                            <th>Ekipa</th>
                            <th>Odigrane utakmice</th>
                            <th>Pobjede</th>
                            <th>Porazi</th>
                            <th>Poeni</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% predpionirkeMatches.sort((a, b) => b.points - a.points) // Sortiraj po poenima (od najveće ka najmanjoj vrijednosti)
                        .forEach(team => { %>
                            <tr>
                                <td><%= team.name %></td>
                                <td><%= team.matchesPlayed %></td>
                                <td><%= team.wins %></td>
                                <td><%= team.losses %></td>
                                <td><%= team.points %></td>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>

            <div class="grid-item">
                <h3>Pionirke</h3>
                <table>
                    <thead>
                        <tr>
                            <th>Ekipa</th>
                            <th>Odigrane utakmice</th>
                            <th>Pobjede</th>
                            <th>Porazi</th>
                            <th>Poeni</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% pionirkeMatches.sort((a, b) => b.points - a.points) // Sortiraj po poenima (od najveće ka najmanjoj vrijednosti)
                        .forEach(team => { %>
                            <tr>
                                <td><%= team.name %></td>
                                <td><%= team.matchesPlayed %></td>
                                <td><%= team.wins %></td>
                                <td><%= team.losses %></td>
                                <td><%= team.points %></td>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>

            <div class="grid-item">
                <h3>Kadetkinje</h3>
                <table>
                    <thead>
                        <tr>
                            <th>Ekipa</th>
                            <th>Odigrane utakmice</th>
                            <th>Pobjede</th>
                            <th>Porazi</th>
                            <th>Poeni</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% kadetkinjeMatches.sort((a, b) => b.points - a.points) // Sortiraj po poenima (od najveće ka najmanjoj vrijednosti)
                        .forEach(team => { %>
                            <tr>
                                <td><%= team.name %></td>
                                <td><%= team.matchesPlayed %></td>
                                <td><%= team.wins %></td>
                                <td><%= team.losses %></td>
                                <td><%= team.points %></td>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>

            <div class="grid-item">
                <h3>Juniorke</h3>
                <table>
                    <thead>
                        <tr>
                            <th>Ekipa</th>
                            <th>Odigrane utakmice</th>
                            <th>Pobjede</th>
                            <th>Porazi</th>
                            <th>Poeni</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% juniorkeMatches.sort((a, b) => b.points - a.points) // Sortiraj po poenima (od najveće ka najmanjoj vrijednosti)
                        .forEach(team => { %>
                            <tr>
                                <td><%= team.name %></td>
                                <td><%= team.matchesPlayed %></td>
                                <td><%= team.wins %></td>
                                <td><%= team.losses %></td>
                                <td><%= team.points %></td>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>

        </div>
    </div>

    <%- include('footer') -%>
    
    <script>
        function toggleTeams(selectedGender) {
            const sections = document.querySelectorAll('.team-section');

            sections.forEach(section => {
                if (section.classList.contains(selectedGender)) {
                    section.style.display = 'block';
                } else {
                    section.style.display = 'none';
                }
            });

            // Update button active state
            const buttons = document.querySelectorAll('.gender-button');
            buttons.forEach(button => {
                button.classList.remove('active');
                if (button.value === selectedGender) {
                    button.classList.add('active');
                }
            });
        }
    </script>
</body>
</html>