<%- include('navbar') -%>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>NK Celik</title>
  <link rel="stylesheet" href="css/navbar.css">
  <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/home.css">
    <link rel="icon" type="image/x-icon" href="images/logo.png">
</head>
<body>
    <div class="news-container">
        <% newsArticles.slice(0, 3).forEach((article, index) => { %>
            <div class="news-card <%= index === 0 ? 'large' : 'small' %>">
                <img src="<%= article.imageUrl %>" alt="<%= article.title %>" class="news-image">
                <div class="news-overlay">
                    <p class="subtitle"><%= article.subtitle %></p>
                    <h2 class="title"><%= article.title %></h2>
                    <a href="/novosti/<%= article.title.toLowerCase().replace(/ /g, '-') %>/<%= article._id %>" class="btn btn-maroon">Opširnije</a>
                </div>
            </div>
        <% }) %>
    </div>
    
    <div class="new-section">
        <% newsArticlesSmall.slice(0, 4).forEach((article, index) => { %>
            <div class="news-card small>">
                <img src="<%= article.imageUrl %>" alt="<%= article.title %>" class="news-image">
                <div class="news-overlay">
                    <p class="subtitle"><%= article.subtitle %></p>
                    <h2 class="title"><%= article.title %></h2>
                    <a href="/novosti/<%= article.title.toLowerCase().replace(/ /g, '-') %>/<%= article._id %>" class="btn btn-maroon">Opširnije</a>
                </div>
            </div>
        <% }) %>
    </div>
    
    <div class="grid-container">
        <div class="grid-item">Tabela</div>
        <div class="grid-item">Tabela</div>
        <div class="grid-item">Tabela</div>
        <div class="grid-item">Tabela</div>
    </div>
    
   
    <%- include('footer') -%>

    
    

</body>
</html>