<%- include('navbar') -%>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>NK Celik</title>
  <link rel="stylesheet" href="css/navbar.css">
  <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/home.css">
    <link rel="icon" type="image/x-icon" href="images/logo.png">
</head>
<body>
    <div class="news-container">
        <% newsArticles.slice(0, 3).forEach((article, index) => { %>
            <div class="news-card <%= index === 0 ? 'large' : 'small' %>">
                <img src="<%= article.imageUrl %>" alt="<%= article.title %>" class="news-image">
                <div class="news-overlay">
                    <p class="subtitle"><%= article.subtitle %></p>
                    <h2 class="title"><%= article.title %></h2>
                    <a href="/novosti/<%= article.title.toLowerCase().replace(/ /g, '-') %>/<%= article._id %>" class="btn btn-maroon">Opširnije</a>
                </div>
            </div>
        <% }) %>
    </div>
    
    <div class="new-section">
        <% newsArticlesSmall.slice(0, 4).forEach((article, index) => { %>
            <div class="news-card small>">
                <img src="<%= article.imageUrl %>" alt="<%= article.title %>" class="news-image">
                <div class="news-overlay">
                    <p class="subtitle"><%= article.subtitle %></p>
                    <h2 class="title"><%= article.title %></h2>
                    <a href="/novosti/<%= article.title.toLowerCase().replace(/ /g, '-') %>/<%= article._id %>" class="btn btn-maroon">Opširnije</a>
                </div>
            </div>
        <% }) %>
    </div>
    <div class="grid-container seniori">
        <div class="grid-item">
            <h3>A2 Liga Sjever</h3>
            <table>
                <thead>
                    <tr>
                        <th>Naziv kluba</th>
                        <th>Odigrano</th>
                        <th>Pobjeda</th>
                        <th>Izgubljeno</th>
                        <th>Dali koseva</th>
                        <th>Primili koseva</th>
                        <th>Bodova</th>
                        <th>Kos razlika</th>
                    </tr>
                </thead>
                <tbody>
                    <% senioriMatches.sort((a, b) => b.points - a.points) // Sortiraj po poenima (od najveće ka najmanjoj vrijednosti)
                    .forEach(team => { %>
                        <tr>
                            <td><%= team.name %></td>
                            <td><%= team.matchesPlayed %></td>
                            <td><%= team.wins %></td>
                            <td><%= team.losses %></td>
                            <td><%= team.scoredGoals %></td>
                            <td><%= team.concededGoals %></td>
                            <td><%= team.points %></td>
                            <td><%= team.goalDifference %></td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>

      

    

      

    </div>
 
    <%- include('footer') -%>
    

</body>
</html>