<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NK Čelik Team - <%= category %></title>
  <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/navbar.css">
  <link rel="stylesheet" href="/css/footer.css">
  <link rel="stylesheet" href="/css/tim.css">
  <link rel="icon" type="image/x-icon" href="/images/logo.png">

  
</head>
<body>
  <%- include('navbar') -%>

  <div class="wrapper">
    <h1 class="season"><%= category.toUpperCase() %> Sezona: <%= season %></h1>

    <!-- Navigacijski dugmići za klubove -->
    <div class="navigation-buttons-container">
      <a href="#kengur-group" class="navigation-button">KENGUR</a>
      <a href="#gradina-group" class="navigation-button">GRADINA</a>
      <a href="#maglaj-group" class="navigation-button">MAGLAJ</a>
      <a href="#abeceda-group" class="navigation-button">ABECEDA</a>
      <a href="#celik-group" class="navigation-button">ČELIK</a>
      <a href="#kakanj-group" class="navigation-button">KAKANJ</a>
      <a href="#vukovi-group" class="navigation-button">VUKOVI</a>
      <a href="#visoko-group" class="navigation-button">VISOKO</a>
    </div>

    <!-- Kontejner timova za prikaz igrača po klubovima -->
    <div class="team-container" id="team-container">
      <!-- Kakanj -->
      <div class="position-group" id="kakanj-group">
        <h2>KAKANJ</h2>
        <% players.filter(player => player.club.toLowerCase().includes('kakanj')).forEach(function(player) { %>
          <div class="player-card">
            <img src="/images/players/<%= player.name %>.jpg" alt="<%= player.name %>">
            <div class="player-info">
              <p><strong>Ime:</strong> <%= formatName(player.name) %></p>
              <p><strong>Datum rođenja:</strong> <%= new Date(player.birthDate).toLocaleDateString() %></p>
              <p><strong>Grad:</strong> <%= formatCity(player.birthPlace) %></p>
            </div>
          </div>
        <% }) %>
      </div>

      <!-- Čelik -->
      <div class="position-group" id="celik-group">
        <h2>ČELIK</h2>
        <% players.filter(player => player.club.toLowerCase().includes('celik')).forEach(function(player) { %>
          <div class="player-card">
            <img src="/images/players/<%= player.name %>.jpg" alt="<%= player.name %>">
            <div class="player-info">
              <p><strong>Ime:</strong> <%= formatName(player.name) %></p>
              <p><strong>Datum rođenja:</strong> <%= new Date(player.birthDate).toLocaleDateString() %></p>
              <p><strong>Grad:</strong> <%= formatCity(player.birthPlace) %></p>
            </div>
          </div>
        <% }) %>
      </div>

      <!-- Kengur -->
      <div class="position-group" id="kengur-group">
        <h2>KENGUR</h2>
        <% players.filter(player => player.club.toLowerCase().includes('kengur')).forEach(function(player) { %>
          <div class="player-card">
            <img src="/images/players/<%= player.name %>.jpg" alt="<%= player.name %>">
            <div class="player-info">
              <p><strong>Ime:</strong> <%= formatName(player.name) %></p>
              <p><strong>Datum rođenja:</strong> <%= new Date(player.birthDate).toLocaleDateString() %></p>
              <p><strong>Grad:</strong> <%= formatCity(player.birthPlace) %></p>
            </div>
          </div>
        <% }) %>
      </div>

      <!-- Gradina -->
      <div class="position-group" id="gradina-group">
        <h2>GRADINA</h2>
        <% players.filter(player => player.club.toLowerCase().includes('gradina')).forEach(function(player) { %>
          <div class="player-card">
            <img src="/images/players/<%= player.name %>.jpg" alt="<%= player.name %>">
            <div class="player-info">
              <p><strong>Ime:</strong> <%= formatName(player.name) %></p>
              <p><strong>Datum rođenja:</strong> <%= new Date(player.birthDate).toLocaleDateString() %></p>
              <p><strong>Grad:</strong> <%= formatCity(player.birthPlace) %></p>
            </div>
          </div>
        <% }) %>
      </div>

      <!-- Maglaj -->
      <div class="position-group" id="maglaj-group">
        <h2>MAGLAJ</h2>
        <% players.filter(player => player.club.toLowerCase().includes('maglaj')).forEach(function(player) { %>
          <div class="player-card">
            <img src="/images/players/<%= player.name %>.jpg" alt="<%= player.name %>">
            <div class="player-info">
              <p><strong>Ime:</strong> <%= formatName(player.name) %></p>
              <p><strong>Datum rođenja:</strong> <%= new Date(player.birthDate).toLocaleDateString() %></p>
              <p><strong>Grad:</strong> <%= formatCity(player.birthPlace) %></p>
            </div>
          </div>
        <% }) %>
      </div>

      <!-- Abeceda -->
      <div class="position-group" id="abeceda-group">
        <h2>ABECEDA</h2>
        <% players.filter(player => player.club.toLowerCase().includes('abeceda')).forEach(function(player) { %>
          <div class="player-card">
            <img src="/images/players/<%= player.name %>.jpg" alt="<%= player.name %>">
            <div class="player-info">
              <p><strong>Ime:</strong> <%= formatName(player.name) %></p>
              <p><strong>Datum rođenja:</strong> <%= new Date(player.birthDate).toLocaleDateString() %></p>
              <p><strong>Grad:</strong> <%= formatCity(player.birthPlace) %></p>
            </div>
          </div>
        <% }) %>
      </div>

      <!-- Vukovi -->
      <div class="position-group" id="vukovi-group">
        <h2>VUKOVI</h2>
        <% players.filter(player => player.club.toLowerCase().includes('vukovi')).forEach(function(player) { %>
          <div class="player-card">
            <img src="/images/players/<%= player.name %>.jpg" alt="<%= player.name %>">
            <div class="player-info">
              <p><strong>Ime:</strong> <%= formatName(player.name) %></p>
              <p><strong>Datum rođenja:</strong> <%= new Date(player.birthDate).toLocaleDateString() %></p>
              <p><strong>Grad:</strong> <%= formatCity(player.birthPlace) %></p>
            </div>
          </div>
        <% }) %>
      </div>

      <!-- Visoko -->
      <div class="position-group" id="visoko-group">
        <h2>VISOKO</h2>
        <% players.filter(player => player.club.toLowerCase().includes('visoko')).forEach(function(player) { %>
          <div class="player-card">
            <img src="/images/players/<%= player.name %>.jpg" alt="<%= player.name %>">
            <div class="player-info">
              <p><strong>Ime:</strong> <%= formatName(player.name) %></p>
              <p><strong>Datum rođenja:</strong> <%= new Date(player.birthDate).toLocaleDateString() %></p>
              <p><strong>Grad:</strong> <%= formatCity(player.birthPlace) %></p>
            </div>
          </div>
        <% }) %>
      </div>
    </div>
  </div>

  <%- include('footer') -%>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</body>
</html>
